{% extends 'base_.html' %}
{% block content %}
<section class="max-w-4xl mx-auto py-12 ">
  <img src="{{ event.image.url | default:'/media/default.jpg' }}" class="w-full h-50 rounded-lg mb-3" alt="Event image">

  <h2 class="text-3xl font-bold">{{ event.name }}</h2>
  <p class="text-gray-700 mt-2 font-semibold">{{ event.description }}</p>
  <p class="mt-4 text-base italic text-gray-600">
    📅 Date: {{ event.date }} &nbsp; ⏰ Time: {{ event.time }}<br>
    📍 Location: {{ event.location }}
  </p>

  {% if request.user.is_authenticated and 'Participant' in user_groups %}
    {% if rsvped %}
      <p class="mt-6 text-green-600 font-semibold"> &#10003 You've already RSVP'd to this event.</p>
    {% else %}
      <form method="POST" action="{% url 'rsvp-event' event.id %}" class="mt-6">
        {% csrf_token %}
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
          RSVP
        </button>
      </form>
    {% endif %}
  {% endif %}
</section>
{% endblock %}
