
{% extends 'base.html' %}
{% block title %}Categories{% endblock %}

{% block content %}
<h1 class="text-3xl font-semibold mb-6">Categories</h1>
<form action="{% url 'category-create' %}" >
  {% csrf_token %}
  <button type="submit" class="inline-block mb-4 rounded bg-green-600 text-white px-4 py-2 hover:bg-green-700 ">
    Add New Category
  </button>
</form>


<table class="min-w-full bg-red-50  rounded-xl overflow-hidden">
  <thead class="bg-red-500 text-white">
    <tr>
      <th class="px-6 py-3 text-left">Name</th>
      <th class="px-6 py-3 text-left">Description</th>
      <th class="px-6 py-3 text-left">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr class="border-b-2 border-rose-200 hover:bg-gray-200">
      <td class="px-6 py-4">{{ category.name }}</td>
      <td class="px-6 py-4">{{ category.description|truncatechars:50 }}</td>
 
      <td class="px-6 py-4 space-x-2">
        <a href="{% url 'category-update' category.id %}" class="text-yellow-500 hover:text-yellow-700">Edit</a>
        <form action="{% url 'category-delete' category.id %}" method="POST" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="text-red-600 hover:text-red-800">
        Delete
    </button>
</form>

      </td>
    </tr>
    
    {% endfor %}
  </tbody>
</table>
{% endblock %}